.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: var(--bgSoft);
    top: 0;
    transition: all 0.5s ease;
    
}

.sidebarActive {
    width: 100px;  
}


.content {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuLinks{
    flex: 6;
}

.list{
    margin-top: 50px;
    list-style: none;
    transition: all 0.5s ease;
}
.listClose{
    transition: all 0.5s ease;
    text-align: center;
}
.cat{
    color: var(--txtSoft);
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}

.bottom{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px 0;
    border-top: 1px  solid #B3B3B3;
}


.bottom button{
    
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.bottomClose button{
    justify-content: center;
}


.bottom button:hover{
    background-color: black;
    color: white
}


.bottom button span {
    font-size: 16px;
    opacity: 1;
    visibility: visible;    
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.bottomClose button span {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    position: absolute;
}
