.row {
    height: 40px;
}
.tdStart{
    text-align: start;
}

.tdCenter{
    text-align: center;
}



.tdEnd{
    text-align: end;
}
.estado{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: var(--bgSoft)
}

.estado.cancelado{
    background-color: #0c631fe1;
}

.estado.pendiente{
    background-color: #cf0f0fde;
}
.estado.noAplica{
    background-color: #858383c7;
}

