.card{
    background-color: var(--bgSoft);
    flex: 1;
    border-radius: 5px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;;
    flex-wrap: wrap;

}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.top span{
    font-size: 20px;
    font-weight: 600;
}

.top .icon{
    font-size: 40px;
    font-weight: bolder;
}
.center span{
    font-size: 40px;
    font-weight: 900;
}

.bottom{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.bottom .percent{
   
    font-weight: 600;
    margin-right: 6px;
}

.bottom .subtitle{
    color: #A8A8A8;
    font-size: 13px;
}