.actions{
    display: flex;
    gap: 5px;
}

.center{
    width: 100%;
    text-align: center;
}

.cancelado{
    background-color: rgb(99, 219, 99);
    border-radius: 5px;
}

.pendiente{
    background-color: rgb(236, 101, 101);
    border-radius: 5px;
}

.muestra{
    background-color: rgb(182, 180, 180);
    border-radius: 5px;
}