*{
  margin: 0;
  padding: 0
}

:root{
  --bg: #eeeeee;
  --bgSoft: #ffffff;
  --txt: #000000;
  --txtSoft: #A8A8A8;
  --txtWhite: #ffffff;
  --txtInputs: #B3B3B3;
  --borderInputs: #B3B3B3;
  --iconsBlack: #000000;
  --iconsGrey: #B3B3B3;
  --iconsWhite: #ffffff;

}

.body{
  font-family: 'Poppins', sans-serif;
  
}

a{
  color: inherit;
  text-decoration: none;
}