.top{
    display: flex;
    align-items: center;
    padding: 20px 40px ;
    gap: 20px;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: var(--bgSoft);
    background-color: var(--iconsBlack);
    cursor: pointer;
}

.icon{
    font-size:20px;
}

.span{
    font-size: 20px;
    font-weight: 600;
}