.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.formGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
}

.formGroupBttm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 600px;
}

.formInput{
    flex: 1;
}
.btnSubmit{
   width: 200px;
   height: 50px;
   background-color: #000000;
   border: none;
   color: white;
   border-radius: 5px;
   font-size: 18px;
   font-weight: 600;
   cursor: pointer;
}

.error{
    font-size: 11px;
    color: rgb(233, 65, 65);
}